header {
  background-color: $mainColor;
  display: flex;
  gap: 2%;
  grid-gap: 2%;

  .logo {
    width: 8%;
  }

  .navbar {
    display: flex;
    align-items: center;

    .menu {
      display: flex;
      list-style-type: none;
      gap: 10px;
      grid-gap: 10px;

      .menu__item {
        &:nth-child(4) {
          a {
            background-color: $secondaryColor;
            border-color: $secondaryColor;
            color: white;
          }
        }
        a {
          background-color: white;
          border: solid 5px white;
          color: $mainColor;
          text-decoration: none;
          border-radius: 50%;
          padding: 1rem;

          &:hover {
            background-color: $mainColor;
            color: white;
          }
        }
      }
    }
  }
}
